<div class="row">
    <div class="col s4">
        <p>Score: {{$ctrl.score}}</p>
        <p>
            Next Block:
            <div class="block-row" ng-repeat="line in $ctrl.nextBlock">
                <div ng-repeat="block in line track by $index">
                    <div class="block block-{{block}}"></div>
                </div>
            </div>
        </p>
    </div>
    
    <div class="col m2 s6">
        <h5>Board</h5>
        <div>
            <div class="block-row" ng-repeat="line in $ctrl.board">
                <div ng-repeat="block in line track by $index">
                    <div ng-class="{'hidden-block': $parent.$index <= 1}" class="block block-{{block}}"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <button class="col s4 btn" ng-click="$ctrl.moveLeft()">Left</button>
            <button class="col s4 btn" ng-click="$ctrl.drop()">Drop</button>
            <button class="col s4 btn" ng-click="$ctrl.moveRight()">Right</button>
        </div>
        <div class="row">
            <button class="col s6 btn" ng-click="$ctrl.rotateLeft()">Rotate Left</button>
            <button class="col s6 btn" ng-click="$ctrl.rotateRight()">Rotate Right</button>
        </div>
    </div>
   
</div>

<div id="score-modal" class="modal">
    <div class="modal-content">
      <h4>Game Over!</h4>
      <p>You scored <span ng-bind="$ctrl.score"></span> points.</p>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="$ctrl.newGame()">New Game</button>
      <a href="#!/" class="modal-action modal-close waves-effect waves-green btn-flat">Main Menu</a>
    </div>
</div>


